
data/stock/2603.TW/History/1-th.txt
data/stock/2603.TW/History/10-th.txt
data/stock/2603.TW/History/100-th.txt
data/stock/2603.TW/History/11-th.txt
data/stock/2603.TW/History/12-th.txt
data/stock/2603.TW/History/13-th.txt
data/stock/2603.TW/History/14-th.txt
data/stock/2603.TW/History/15-th.txt
data/stock/2603.TW/History/16-th.txt
data/stock/2603.TW/History/17-th.txt
data/stock/2603.TW/History/18-th.txt
data/stock/2603.TW/History/19-th.txt
data/stock/2603.TW/History/2-th.txt
data/stock/2603.TW/History/20-th.txt
data/stock/2603.TW/History/21-th.txt
data/stock/2603.TW/History/22-th.txt
data/stock/2603.TW/History/23-th.txt
data/stock/2603.TW/History/24-th.txt
data/stock/2603.TW/History/25-th.txt
data/stock/2603.TW/History/26-th.txt
data/stock/2603.TW/History/27-th.txt
data/stock/2603.TW/History/28-th.txt
data/stock/2603.TW/History/29-th.txt
data/stock/2603.TW/History/3-th.txt
data/stock/2603.TW/History/30-th.txt
data/stock/2603.TW/History/31-th.txt
data/stock/2603.TW/History/32-th.txt
data/stock/2603.TW/History/33-th.txt
data/stock/2603.TW/History/34-th.txt
data/stock/2603.TW/History/35-th.txt
data/stock/2603.TW/History/36-th.txt
data/stock/2603.TW/History/37-th.txt
data/stock/2603.TW/History/38-th.txt
data/stock/2603.TW/History/39-th.txt
data/stock/2603.TW/History/4-th.txt
data/stock/2603.TW/History/40-th.txt
data/stock/2603.TW/History/41-th.txt
data/stock/2603.TW/History/42-th.txt
data/stock/2603.TW/History/43-th.txt
data/stock/2603.TW/History/44-th.txt
data/stock/2603.TW/History/45-th.txt
data/stock/2603.TW/History/46-th.txt
data/stock/2603.TW/History/47-th.txt
data/stock/2603.TW/History/48-th.txt
data/stock/2603.TW/History/49-th.txt
data/stock/2603.TW/History/5-th.txt
data/stock/2603.TW/History/50-th.txt
data/stock/2603.TW/History/51-th.txt
data/stock/2603.TW/History/52-th.txt
data/stock/2603.TW/History/53-th.txt
data/stock/2603.TW/History/54-th.txt
data/stock/2603.TW/History/55-th.txt
data/stock/2603.TW/History/56-th.txt
data/stock/2603.TW/History/57-th.txt
data/stock/2603.TW/History/58-th.txt
data/stock/2603.TW/History/59-th.txt
data/stock/2603.TW/History/6-th.txt
data/stock/2603.TW/History/60-th.txt
data/stock/2603.TW/History/61-th.txt
data/stock/2603.TW/History/62-th.txt
data/stock/2603.TW/History/63-th.txt
data/stock/2603.TW/History/64-th.txt
data/stock/2603.TW/History/65-th.txt
data/stock/2603.TW/History/66-th.txt
data/stock/2603.TW/History/67-th.txt
data/stock/2603.TW/History/68-th.txt
data/stock/2603.TW/History/69-th.txt
data/stock/2603.TW/History/7-th.txt
data/stock/2603.TW/History/70-th.txt
data/stock/2603.TW/History/71-th.txt
data/stock/2603.TW/History/72-th.txt
data/stock/2603.TW/History/73-th.txt
data/stock/2603.TW/History/74-th.txt
data/stock/2603.TW/History/75-th.txt
data/stock/2603.TW/History/76-th.txt
data/stock/2603.TW/History/77-th.txt
data/stock/2603.TW/History/78-th.txt
data/stock/2603.TW/History/79-th.txt
data/stock/2603.TW/History/8-th.txt
data/stock/2603.TW/History/80-th.txt
data/stock/2603.TW/History/81-th.txt
data/stock/2603.TW/History/82-th.txt
data/stock/2603.TW/History/83-th.txt
data/stock/2603.TW/History/84-th.txt
data/stock/2603.TW/History/85-th.txt
data/stock/2603.TW/History/86-th.txt
data/stock/2603.TW/History/87-th.txt
data/stock/2603.TW/History/88-th.txt
data/stock/2603.TW/History/89-th.txt
data/stock/2603.TW/History/9-th.txt
data/stock/2603.TW/History/90-th.txt
data/stock/2603.TW/History/91-th.txt
data/stock/2603.TW/History/92-th.txt
data/stock/2603.TW/History/93-th.txt
data/stock/2603.TW/History/94-th.txt
data/stock/2603.TW/History/95-th.txt
data/stock/2603.TW/History/96-th.txt
data/stock/2603.TW/History/97-th.txt
data/stock/2603.TW/History/98-th.txt
data/stock/2603.TW/History/99-th.txt
*.txt
